div.span-17.colborder
  div.span-17
    h5 Lay Zhu
  div.span-17
    h5 QA Developer of Gree, Inc
  div.span-17.last
    q Hey, this is Lay from OpenFeint.com. As a senior qa developer here, my work mainly focus on social feature of openfeint on android and ios, including manual test, coding for ui automation of both android and ios with ruby, and load testing using node.js and coffeescript. Now, I'm trying to make tools for automation of android native element together with html element of android webview using java.
    Before openfeint, I roled as senior qa developer for union.baidu.com, a adsense liked products of Baidu.com. And before that, I was a qa developer for IBM. 
    I received my bachelar degree from Shanghai Jiaotong University and gained my master from Tongji University, which are both in Shanghai. I'm in Beijing, BTW. 
