div.span-17.colborder
  form(method='post', action='/blog/edit/#{article.id}')
    fieldset
      legend Edit Blog
      p
        label title
        br
        input#blog_title.span-12(type='text', name='blog_title', value="#{article.title}")
        br
      p
        label content
        br
        textarea#blog(type='textarea', name='blog_body')= article.body
        input#blog_id(type='hidden', value="#{article.id}")
      p
        input(type='submit', value='save')
