div.span-17.colborder
  form(method='post', action='/blog/new')
    fieldset
      legend Add A New Blog
      p
        label title
        br
        input.span-12(type='text', name='blog_title')
        br
      p
        label content
        br
        textarea#blog(type='textarea', name='blog_body')
      p
        button#login_button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only(role='button')
          span.ui-button-text save it!
