div.lay-span-16.lay-page-bg.lay-corner-all.lay-not-last
  div#article_list.lay-margin-top-1
    input#next_page(type='hidden', value="#{next_page}")
    input#total_page(type='hidden', value="#{total_page}")
    input#type_page(type='hidden', value='1')
    include include/template_blog_brief
