h1= title

!= messages()

form(method='post', action='/user/login')
  label account
  input(type='text', name='email')
  p
  label password
  input(type='password', name='password')
  p
  input(type='submit', value='login')
  
a(href='/user/register_redirect') doesn't have an account?
