!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/blueprint/screen.css', type='text/css', media='screen, projection')

  div.container
    div.span-6.colborder
      h1 lay's thinking
    div.span-16.last
      div.span-7
        h3 
      div.span-3 
        h3 Bios
      div.span-3 
        h3 Contact me
      div.span-3.last 
        h3 To be Con
    hr

    body!= body

    hr
    div.span-24.prepend-9.append-9.last
      h6 all right reserved @thunderzhulei.com
