!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/blueprint/screen.css', type='text/css', media='screen, projection')
    //link(rel='stylesheet', href='/stylesheets/blueprint/fancy-type/screen.css', type='text/css', media='screen, projection')
    link(rel='stylesheet', type='text/css', href='/markitup/sets/blog/style.css')
    link(rel='stylesheet', type='text/css', href='/markitup/skins/markitup/style.css')
    link(rel='stylesheet', type='text/css', href='/jquery/css/start/jquery-ui-1.8.17.custom.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/lay.css')
    
    script(rel='script', src='/jquery/jquery-1.7.1.min.js', type='text/javascript')
    script(rel='script', src='/jquery/jquery-ui-1.8.17.custom.min.js', type='text/javascript')
    script(rel='script', src='/jquery/jquery.blockUI.js', type='text/javascript')
    script(rel='script', src='/markitup/jquery.markitup.js', type='text/javascript')
    script(rel='script', src='/markitup/sets/blog/set.js', type='text/javascript')
    
    script(language='javascript')
      $(document).ready(function(){
        $('#blog').markItUp(myHtmlSettings);
      });
  body.lay-body
    div.lay-body-con
      include include/header
      include include/search_bar
      div.lay-span-24.lay-header-bg
        body!= body
        include include/sider
      //hr
      //include include/footer

