div.span-6.last
  form(method='post', action='/user/login')
    fieldset
      legend login
      != messages()
      p
        label(for='email') account
        br
        input#email.text.span-5(type='text', name='email')
        br
      p
        label(for='password') password
        br
        input#password.text.span-5(type='password', name='password')
        br
      p
        input(type='submit', value='login')
        a(href='/user/register_redirect') no account?
