div.lay-span-24.lay-header-bg.lay-header-ht.lay-body-corner-top
  div.lay-span-12.ui-buttonset.lay-header-not-last
    label.ui-button.ui-widget.ui-state-default.ui-button-text-only.ui-corner-bl.lay-header-button(role='button')
      a.ui-button-text(href='/') Home
    label.ui-button.ui-widget.ui-state-default.ui-button-text-only.lay-header-button(role='button')
      a.ui-button-text(href='/bio') Bios
    label.ui-button.ui-widget.ui-state-default.ui-button-text-only.lay-header-button(role='button')
      span.ui-button-text Find Lay
    label.ui-button.ui-widget.ui-state-default.ui-button-text-only.ui-corner-br.lay-header-button(role='button')
      span.ui-button-text Others
  div.lay-span-8.lay-header-last
    h6 sadfasdf
    //div.span-4
    //  |<h5><a class='alt' href='/'>Home</a></h2> 
    //div.span-4 
    //  |<h5><a class='alt' href='/bio'>Biography</a></h2>
    //div.span-4 
    //  |<h5><a class='alt' href='/contact'>Contact Lay</a></h2>
    //div.span-4.last 
    //  |<h5><a class='alt' href=''>Next?</a></h2>
