div.span-6.colborder
  h1.alt lay's thinking
div.span-16.last
  div.span-4
    |<h2><a class='alt' href='/'>Home</a></h2> 
  div.span-4 
    |<h2><a class='alt' href='/bio'>Biography</a></h2>
  div.span-4 
    |<h2><a class='alt' href='/contact'>Contact Lay</a></h2>
  div.span-4.last 
    |<h2><a class='alt' href=''>Next?</a></h2>
