div.lay-span-24.lay-search-bg.lay-search-ht
  div.lay-span-16.lay-search-ht.lay-search-not-last
    h6.lay-margin-left-50.lay-text-title.lay-white(style="vertical-align:middle") Search Blogs
  div.lay-span-6.lay-search-ht.lay-search-last
    input#search.lay-corner-left.lay-input-text(type='text', style="height:19px;vertical-align:middle;margin: 0em 0em 0em 0em")
    button.ui-state-default.lay-corner-right
      span.ui-icon.ui-icon-search

