div.lay-span-24.lay-search-bg.lay-search-ht
  div.lay-span-16.lay-search-not-last
    h6 Search Blogs
  div.lay-span-6.lay-search-last
    input#search.lay-corner-left(type='text')
    button.ui-state-default.lay-corner-right
      span.ui-icon.ui-icon-search

