script(language='javascript')
  $(document).ready(function(){
    $("#current_url").val(document.location.href);
    
    function confirm_logout(callback){
      $("#logout_confirm_dialog").dialog({
        autoOpen: true,
        show: "blind",
        resizable: false,
        closeOnEscape: true,
        buttons: {
            "nope": function() { $(this).dialog("close"); },
            "sure": function() {
              callback.call();
              $(this).dialog("close");
            }
        }
      });
    };

    $("#logout").click(function(){
      confirm_logout(function(){
        self.location = 'http://localhost:3000/user/logout';
      });
    });

    $("input#email").autocomplete({
      source: ["thunderzhulei@gmail.com", "lay.zhu@aurorafeint.com"]
    });

    $("#category_nav").accordion({
      collapsible: true,
      active: 0
    });

  });

div#logout_confirm_dialog(title='need ya confirm', style="display: none") 
  |<p><span class='ui-icon ui-icon-alert' style="float:left; margin:0 7px 20px 0;"></span>sure ya wanna leave?</p>

div.lay-span-6.lay-page-bg.lay-side-ht.lay-corner-all.lay-last
  div.lay-margin-top-1.lay-margin-left-1.lay-margin-right-1.lay-corner-all.lay-article
    if user == null
      div.lay-margin-left-1
        form.lay-form(method='post', action='/user/login')
          label(for='email') account
          br
          input#email.lay-corner-all(type='text', name='email', size='30')
          br
          label(for='password') password
          br
          input#password.lay-corner-all(type='password', name='password', size='30')
          input#current_url(type='hidden', name='current_url')
          //input.span-2(type='submit', value='login')
          br
          button#login_button.ui-state-default.ui-corner-all(role='button')
            |<span class='lay-span-2 ui-icon ui-icon-carat-1-w'></span>login
          //a(href='/user/register_redirect') no account?
    else
      div.lay-margin-left-1
        p= user.name
        p= user.email
        p= user.id
        a#logout(href='javascript:void(0)') leave?

  hr.space

  div.lay-margin-top-1.lay-margin-left-1.lay-margin-right-1.lay-corner-all.lay-article
    |<span id='201201' class='lay-span-4 ui-icon ui-icon-circlesmall-plus'></span> Jan, 2012
    br
    |<span id='201112'  class='lay-span-4 ui-icon ui-icon-circlesmall-plus'></span> Nov, 2011
